<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta charset = "utf-8"/>
    <title> Prototype Info </title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="Images/logo.png" sizes="32x32">
</head>
<body>
    <div class="nav">
        <div class="nav-wrapper">
            <div class="left-side">
                <a href="index.html" class="button button1"><img src="Images/logo.png" id="logo" alt="Exactum" height="35"><p id="name">Exactum</p></a>
                <a class = "active" href="about.html"> About our Prototype </a>
                <a href="download.html"> Download </a>
            </div>
            <div class="right-side">
                <a href="contact.html"> Contact </a>
            </div>
        </div>
    </div>
    <div class = "content">
        <h1> About Our Prototype </h1>
    </div>
    <div class="paragraphs">
        <p> <h4> Exactum is built on the premise of sending Window popups, when websites of YOUR choosing update. </h4> </p>
        <p> <h4> Can’t wait to listen to the latest release of your favourite podcast, but don’t want to keep refreshing forever? Exactum’s got you covered. </h4> </p>
        <p> <h4> Want to be notified when a stock you’ve been eyeing for a while change price? Exactum’s got it in the bag. </h4> </p>
        <p> <h4> Can’t be bothered checking when your teacher or professor posts a new online assignment? Trivial for Exactum. </h4> </p>
        <p> <h4> Want to organize your alerts for specific websites? Exactum will send you the emails of website changes
            so you can organize them whatever way you like! </h4> </p>
        <p> <h4>  These are just some of the countless uses that Exactum has to offer, and as we roll out more features,
            you’re sure to find more creative uses. So, give it a try! The skies the limit when you use Exactum. </h4> </p>
        <br>
        <p> <h4> As we were limited to a 36-hour competition, there is still a plethora of new features
            that we would like to roll out to improve Exactum. </h4> </p>
        <p> <h4> One of the ways we thought we could improve Exactum was to develop it as a Google Chrome Extension. </h4> </p>
        <p> <h4> This would make it easier-to-access for all users, as well as provide no need to download
            any of the running files. </h4> </p>
        <p> <h4> We also recognize that not everyone has the same preferences, so we would like to
            implement more ways to contact people with alerts other than the popups and emails.</h4> </p>
        <p> <h4> Lastly, the final feature we hope to include in the future is a line-by-line
            difference of change, similar to how GitHub does it. </h4> </p>
        <p> <h4> This would allow for a more comprehensive analysis of when a website is updated,
            and would overall provide a cleaner, smoother experience for our users. </h4> </p>
    </div>
    <div class="content">
        <img src="Images/yml.png" id="logo" alt="Exactum" height="300"><p id="name">Using the config.yml file to keep track of your website changes!</p></a>
    </div>
</body>
<footer class="page-footer">
    <p> This website was created to support our prototype for Hack The North 2021.</p>
</footer>
</html>
