<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta charset = "utf-8"/>
    <title> Download Prototype </title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="Images/logo.png" sizes="32x32">
</head>
<body>
    <div class="nav">
        <div class="nav-wrapper">
            <div class="left-side">
                <a href="index.html" class="button button1"><img src="Images/logo.png" id="logo" alt="Exactum" height="35"><p id="name">Exactum</p></a>
                <a href="about.html"> About our Prototype </a>
                <a class = "active" href="download.html"> Download </a>
            </div>
            <div class="right-side">
                <a href="contact.html"> Contact </a>
            </div>
        </div>
    </div>
    <div class="content">

    </div>
</body>
<footer class="page-footer">
    <p> This website was created to support our prototype for Hack The North 2021.</p>
</footer>
</html>
