<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta charset = "utf-8"/>
    <title> Home </title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="Images/logo.png" sizes="32x32">
</head>
<body>
    <div class="nav">
        <div class="nav-wrapper">
            <div class="left-side">
                <a class = "active" href="index.html" class="button button1"><img src="Images/logo.png" id="logo" alt="Exactum" height="35"><p id="name">Exactum</p></a>
                <a href="about.html"> About our Prototype </a>
                <a href="download.html"> Download </a>
            </div>
            <div class="right-side">
                <a href="contact.html"> Contact </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div id = "theCarousel" class = "carousel slide" data-ride="carousel" data-interval = "2500">
            <ol class = "carousel-indicators">
                <li data-target="#theCarousel" data-slide-to="0" class="active"> </li >
                <li data-target="#theCarousel" data-slide-to="1"> </li>
                <li data-target ="#theCarousel" data-slide-to="2"> </li>
                <li data-target ="#theCarousel" data-slide-to="3"> </li>
                <li data-target ="#theCarousel" data-slide-to="4"> </li>
            </ol>
            <div class = "carousel-inner">
                <div class = "item active">
                     <div class = "slide1"></div>
                </div>
                <div class = "item">
                    <div class = "slide2"></div>
                </div>
                <div class = "item">
                    <div class = "slide3"></div>
                </div>
                <div class = "item">
                    <div class = "slide4"></div>
                </div>
                <div class = "item">
                    <div class = "slide5"></div>
                </div>
            </div>
            <a class = "left carousel-control" href = "#theCarousel" data-slide = "prev">
                <span class = "glyphicon glyphicon-chevron-left"></span></a>
            <a class = "right carousel-control" href = "#theCarousel" data-slide = "next">
                <span class = "glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <h1> Welcome to our website! </h1>
        <br>
        <p> <h4> With schools turning virtual, we felt that we needed a better way to keep in touch with updates regarding assignments and posts, without constantly having to refresh Google Classroom.  </h4></p>
        <p> <h4> Enter, Exactum. </h4></p>
        <br>
        <h3> About the Makers </h3>
        <p> <h4> Alan, Anthony, and William are all avid coders. As members of the competitive programming scene,
        they all enjoy problem-solving and algorithmic thinking. We hope you enjoy our project!
    </h4> </p>
        <br>
        <h3> Challenges We Faced </h3>
        <p> <h4> One of the main challenges we faced was getting our application to be cross-platform friendly. </h4></p>
        <p><h4> Since our team used different browsers, it was challenging to make our application function correctly on all of them.  </h4></p>
        <p><h4> Another challenge we faced was near the start of the hackathon, where we struggled to create an idea that a) we enjoyed and thought was useful and b) not too niche and specific. </h4></p>
        <p> <h4> After hours of hard work, we are all proud to say that we created a product that we all enjoy and will use in our daily lives. </h4></p>
    </div>
</body>
<footer class="page-footer">
    <p> This website was created to support our prototype for Hack The North 2021.</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>
